$main-text-color: #FCFCFC;
$secondary-text-color:#131313;
$bg-color:#84A178;
$yellow-color:#F8D24E;
$green-color:#0A8817;
$lite-green:#AEC6A5;
$lite-yellow:#EFD478;
$lite-orange:#D6936D;
$btn-color-white:#ffffff;
$white-color: #ffffff;