<section class="about" id="about">
  <div class="container">
    <div class="about-title">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title-text">how it’s made?</h2>
    </div>
    <div class="about-wrap__tablet">
      <div class="circle-container">
        <div class="circle"></div>
        <div class="circle-2"></div>
      </div>
      <div class="about-text about-text__container">
        <p class="about-text__paragraph-1">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-text__paragraph-2">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about-text__paragraph-3">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button type="button" class="about__btn" data-readmore-open>
          <span>Read more</span
          ><svg class="about__btn-icon" width="12px">
            <use href="./images/icons.svg#icon-vector-12px"></use>
          </svg>
        </button>
        <!-- Модальне вікно -->
        <div class="backdrop--about is-hidden--about" data-readmore>
          <div class="readmore-modal">
            <button
              type="button"
              class="readmore-modal__close"
              data-readmore-close
            >
              <svg class="readmore-modal__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-modal-close-btn-mob"></use>
              </svg>
            </button>
            <h2 class="readmore-modal__title">How it’s made?</h2>
            <div class="readmore-modal-video">
              <iframe
                class="video"
                width="265"
                height="199"
                src="https://www.youtube.com/embed/8WEMZ86Eho8"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <p class="readmore-modal__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
