<header class="header">
  <div class="container header--container">
    <a class="logo" href="./">
      <picture class="logo__image">
        <source
          srcset="./images/desktop/Logo.png 1x, ./images/desktop/Logo-2x.png 2x"
          media="(min-width:1200px)"
          width="60"
        />
        <source
          srcset="
            ./images/tablet/hero/logo.png    1x,
            ./images/tablet/hero/logo-2x.png 2x
          "
          media="(min-width:768px)"
          width="48"
        />
        <source
          srcset="
            ./images/mobile/hero/logo.png    1x,
            ./images/mobile/hero/logo-2x.png 2x
          "
          media="(max-width:767px)"
          width="40"
        />

        <img src="./images/mobile/hero/logo.png" alt="logo" width="60" />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./" class="nav__item">Home</a></li>
        <li><a href="#about" class="nav__item">How it’s made?</a></li>
        <li><a href="#products" class="nav__item">Our products</a></li>
        <li><a href="#contacts" class="nav__item">Contact</a></li>
      </ul>
    </nav>
    <button class="open-mob_menu js-open-menu">
      <svg width="40" height="37">
        <use href="./images/icons.svg#icon-menu-open"></use>
      </svg>
    </button>
    <button type="button" class="header__buy-now buy-now" data-buynow-open>
      Buy now
      <svg width="12" height="12" class="buy-now__icon">
        <use href="./images/icons.svg#vector-btn"></use>
      </svg>
    </button>
  </div>
  <div class="menu js-menu-container" id="mobile-menu">
    <div class="menu__flex">
      <a href="./" class="logo">
        <picture class="logo__image">
          <source
            srcset="
              ./images/desktop/Logo.png    1x,
              ./images/desktop/Logo-2x.png 2x
            "
            media="(min-width:1200px)"
            width="60"
          />
          <source
            srcset="
              ./images/tablet/hero/logo.png    1x,
              ./images/tablet/hero/logo-2x.png 2x
            "
            media="(min-width:768px)"
            width="48"
          />
          <source
            srcset="
              ./images/mobile/hero/logo.png    1x,
              ./images/mobile/hero/logo-2x.png 2x
            "
            media="(max-width:767px)"
            width="40"
          />

          <img src="./images/mobile/hero/logo.png" alt="logo" width="60" />
        </picture>
      </a>
      <button class="menu__close js-close-menu">
        <svg width="19" height="19">
          <use href="./images/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <nav class="menu__nav">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="./" class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a href="#about" class="menu__link">How it’s made?</a>
          </li>
          <li class="menu__item">
            <a href="#products" class="menu__link">Our products</a>
          </li>
          <li class="menu__item">
            <a href="#contacts" class="menu__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="buy-now" data-buymenu-open>
        Buy now
        <svg width="12" height="12" class="buy-now__icon">
          <use href="./images/icons.svg#vector-btn"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="backdrop__buy-now buynow-hidden" data-buynow>
    <div class="buy-modal">
      <button class="buy-now__close" data-buynow-close>
        <svg width="19" height="19">
          <use href="./images/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <h2 class="buy-modal__title">Buy now</h2>
      <ul class="buy-modal__list">
        <li class="buy-modal__item--ice">
          <h3 class="buy-modal__product">ice cream</h3>
        </li>
        <li class="buy-modal__item--coffee">
          <h3 class="buy-modal__product">ice coffee</h3>
        </li>
        <li class="buy-modal__item--coc">
          <h3 class="buy-modal__product">milkshakes</h3>
        </li>
      </ul>
      <form class="buy-modal__form" autocomplete="on">
        <label class="buy-modal__label"
          ><input
            class="buy-modal__input"
            type="text"
            name="name"
            placeholder="Name"
        /></label>
        <label class="buy-modal__label"
          ><input
            class="buy-modal__input"
            type="tel"
            name="phone"
            placeholder="Phone"
        /></label>
        <label class="buy-modal__label">
          <textarea
            class="buy-modal__textarea"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </label>
        <button type="submit" class="buy-modal__btn">Submit</button>
      </form>
    </div>
  </div>
</header>
