<section class="hero">
  <div class="container hero__container">
    <div class="hero__cont-text">
      <div class="hero__cont-title">
        <h1 class="hero__title">
          <span class="hero__title--first">ice cream made with</span>
          passion
        </h1>
        <ul class="hero__list-link">
          <li><a href="#products" class="hero__link--btn">Products</a></li>
          <li><a href="#about" class="hero__link">How it’s made?</a></li>
        </ul>
      </div>
      <ul class="hero__list">
        <li class="hero__item">
          <p class="hero__number">
            16<span class="hero__cafes">cafes</span>
          </p>
        </li>
        <li class="hero__item">
          <p class="hero__number">
            23<span class="hero__cafes">food trucks</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="hero__cont-plate">
      <div class="hero__tumb-plate">
        <picture>
          <source class="hero__plate" srcset="
                          ./images/desktop/ice-plate.png    1x,
                          ./images/desktop/ice-plate-2x.png 2x
                        " media="(min-width:1200px)" width="225" />
          <source class="hero__plate" srcset="
                          ./images/tablet/hero/ice-plate.png    1x,
                          ./images/tablet/hero/ice-plate-2x.png 2x
                        " media="(min-width:768px)" width="152" />
          <img class="hero__plate" src="./images/tablet/hero/ice-plate.png" alt="ice-cream" width="225" />
        </picture>
      </div>
      <div class="hero__text-box">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="hero__info-link">
          <svg width="60" class="hero__icon">
            <use href="./images/icons.svg#arrow-hero"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__tumb-ice">
      <picture>
        <source class="hero__big-ice" srcset="
                  ./images/desktop/ice-cream.png    1x,
                  ./images/desktop/ice-cream-2x.png 2x
                " media="(min-width:1200px)" width="484" />
        <source class="hero__big-ice" srcset="
                  ./images/tablet/hero/ice-cream.png    1x,
                  ./images/tablet/hero/ice-cream-2x.png 2x
                " media="(min-width:768px)" width="270" />
        <source class="hero__big-ice" srcset="
                  ./images/mobile/hero/ice-cream.png    1x,
                  ./images/mobile/hero/ice-cream-2x.png 2x
                " media="(max-width:767px)" width="250" />

        <img class="hero__big-ice" src="./images/mobile/hero/ice-cream.png" alt="ice-cream" width="484" />
      </picture>
    </div>
  </div>
</section>